* {
    margin: 0;
    padding: 0;
    font-family: "Arial", "serif";
    zoom: 100%;
    line-height:initial;
}

:root {
    --default-padding: 5rem;
    --default-margin: 10%;
}

span{
    font-size: initial;
}

.merch__description {
    font-family: "Times New Roman", sans-serif;
    background: #7f8e37;
}

.merch__item__odd {
    font-family: "Times New Roman", sans-serif;
    background: rgb(255, 122, 89) !important;
    width: 45%;
    margin: 2%;
    float: left;
    border-radius: 5rem;
    border: 5px solid;
}

.merch__item__even {
    font-family: "Times New Roman", sans-serif;
    background: rgb(255, 122, 89) !important;
    width: 45%;
    margin: 2%;
    float: right;
    border-radius: 5rem;
    border: 5px solid;
}

merch__container {
    background: #eaf2c1;
}

.merch__image {
    width: 45%;
    padding-left: 10%;

}

.caterpillar__story__container{
    margin-top: 5rem;
}

.other__works__top {
    font-family: "Times New Roman", sans-serif;
    float: left;
    background: #eaf2c1;
    padding-top:2rem;
}

.other__works__element__odd {
    font-family: "Times New Roman", sans-serif;
    background: rgb(255, 122, 89) !important;
    width: 45%;
    margin: 2%;
    float: left;
    border-radius: 5rem;
    border: 5px solid;
}

.other__works__element__even {
    font-family: "Times New Roman", sans-serif;
    background: rgb(255, 122, 89) !important;
    width: 45%;
    margin: 2%;
    float: right;
    border-radius: 5rem;
    border: 5px solid;
}

.other__works__img {
    height: 180px;
    padding-left: 10%;
}

.other__works__text {
    padding-left: 10%;
    width: 80%;
}

.merch__text {
    padding-left: 10%;
    width: 80%;
}

.more__works__list {
    padding-left: 20px;
}

.other__works__container {
    width: 100%;
    background: #eaf2c1;
    padding-bottom:2rem;
}

