* {
    margin: 0;
    padding: 0;
    font-family: "Arial", "serif";
}


:root {
    --default-padding: 5rem;
    --default-margin: 5rem;
}

.caterpillar__navbar__list {
    list-style-type: none;
    margin: 0;
    font-size: 1.5rem;
    font-weight: lighter;
    overflow: hidden;
    background-color: #7f8e37;
}

.caterpillar__navbar__list_item {
    float: left;
}

.caterpillar__navbar__list_item_link {
    display: block;
    color: white;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;

    &:hover {
        background-color: #515b23;
    }
}

.caterpillar__navbar{
    display: none;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav_text{
 margin-left: 4%;
    font-family: "Times New Roman";
    font-weight: 500;
    font-size: 2rem;

}
.myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 2rem;
    display: block;
}

.topnav a.icon {
    background: yellowgreen;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/*.topnav a:hover {*/
/*    background-color: #a1b05d;*/
/*    color: white;*/
/*}*/

.active {
    background-color: #7f8e37;
    color: white;
}
.caterpillar__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 var(--default-margin);
}

.caterpillar__content{
    margin: 0;
}
.caterpillar__content__container {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaf2c1;
    font-size: 10px;

}

.caterpillar__content__container_image {
    width: 70rem;
}

.caterpillar__content__container-text {
    align-self: end;

    margin-right: 14rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: "Times New Roman", "sans-serif";
    color: #7f8d37;
}

.caterpillar__content__header {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 12rem;
    padding-top: 3rem;
}

.caterpillar__content__text_paragraph {
    font-size: 1.7rem;
    color: black;
    margin: 0 12rem;
    background: white;
}

.caterpillar__content__illustration {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.caterpillar__content__news-block {
    margin: 0 0 4rem;
}

.caterpillar__content__news-block {
    height: 70rem;
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.caterpillar__content__news-block-museum {
    margin-right: 10%;
    height: 40rem;
    width: 80rem;
    background: black;

}

.caterpillar__content__news-block-musea {
    background: #d8d8d8;
    margin-left: 40%;
    margin-top: -3%;
    height: 86%;
    width: 70%;
    opacity: 100%;
}

.caterpillar__content_news-event {
    margin: 3rem 0 3rem;

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
}


.caterpillar__content_news-event-one {
    width: 25%;
    height: 35em;
    background: #7f8e37;
}

.caterpillar__content_news-event-two {
    width: 30%;
    height: 35rem;
    background: #7f8e37;
}

.caterpillar__content_news-event-three {
    width: 25%;
    height: 35rem;
    background: #7f8e37;
}

.caterpillar__content__store-link {
    align-self: center;
    padding: 3rem;
    border-radius: 1rem;
    margin: 0 var(--default-margin) 0;
    background: #f28a84;
    display: flex;

}

.caterpillar__content__store-link_text {
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.caterpillar__content__info {
    margin: 5rem 0 9rem;
    width: 100%;
    padding: 5rem 3rem;
    background: #f7f1c3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.caterpillar__content__info-text {
    font-size: 1.6rem;
    margin: 0 var(--default-margin);
}

.caterpillar__content_news-fun {
    margin: 2rem 10rem 9rem;
    gap: 3rem;

    display: flex;
    align-content: center;
    justify-content: center;

}

/*.caterpillar__content_news-event-one,*/
/*.caterpillar__content_news-event-two,*/
/*.caterpillar__content_news-event-three,*/
/*.caterpillar__content_news-fun-one,*/
/*.caterpillar__content_news-fun-two {*/
/*    flex-shrink: 0;*/

/*}*/

.caterpillar__content_news-fun-one img{
    /*width:60%;*/
    object-fit: cover;
    border-radius: 5rem;
}

.caterpillar__content_news-fun-two img{
    /*width:60%;*/
    object-fit: cover;
    border-radius: 5rem;
}

.caterpillar__content_news-fun-three {
    font-size: 1.7rem;
    margin: 2rem 0;
}

.caterpillar__content__author-background {
    background: #7f8e37;
    padding: 3rem;
}

.caterpillar__content__author {
    margin: 0 var(--default-margin) 0;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.caterpillar__content__author__container-text {
    margin: 0 auto;
    margin-top:2rem;
    font-size:1.5rem;
}

.caterpillar__content__author__text {
    font-size: 1.4rem;

    display: flex;
    align-self: center;
    justify-content: center;
}

.caterpillar__content_footer {
    margin-top: 10rem;
    width: 100%;
    height: 20rem;
    background: #7f8e37;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caterpillar__content_footer-text {
    font-size: 2rem;
    color: white;
    margin: 0 var(--default-margin);
}


@media screen and (max-width: 1300px) {
    .caterpillar__navbar__list {
        font-size: 2.7rem;
        padding: 2rem;

        display: flex;
        justify-content: center;
    }

    .caterpillar__navbar__list_item_link {
        display: flex;
    }

    .caterpillar__content__container_image {
        width: 70rem;
    }


    .caterpillar__content__header {
        font-size: 2.3rem;
    }

    .caterpillar__content__text_paragraph {
        margin: 0 var(--default-margin);
    }

    .caterpillar__content_news-event-one {
        width: 80%;
        height: 35em;
        background: #7f8e37;
    }

    .caterpillar__content_news-event-two {
        width: 80%;
        height: 35rem;
        background: #7f8e37;
    }

    .caterpillar__content_news-event-three {
        width: 80%;
        height: 35rem;
        background: #7f8e37;
    }

    .caterpillar__content_news-event {
        margin-bottom: 2rem;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .caterpillar__content_news-event-one,
    .caterpillar__content_news-event-two,
    .caterpillar__content_news-event-three,
    .caterpillar__content_news-fun-one,
    .caterpillar__content_news-fun-two {
        aspect-ratio: 1 / 1; /* Adjust this value to your preferred ratio */
    }

    .caterpillar__content_news-event-three {
        width: 80%;
        height: 30rem;
    }

    .caterpillar__content__info-text {
        font-size: 1.6rem;
        margin: 0 5rem;
    }

    .caterpillar__content__store-link {
        padding: 3rem 0;
        border-radius: 2rem;

        display: flex;
        justify-content: flex-end;
        align-self: center;
    }

    .caterpillar__content__store-link_text {
        margin-right: 4rem;
        font-size: 2.6rem;
    }

    .caterpillar__content__info {=
    }

    .caterpillar__content_news-fun {
        /*margin: 2rem 0 9rem;*/

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

    }

    .caterpillar__content_news-fun-one {
        width: 100%;
        height: 30rem;
    }

    .caterpillar__content_news-fun-two {
        width: 80%;
        height: 30rem;
    }

    .caterpillar__content_news-fun-three {
        font-size: 1.3rem;
        margin: 0 6rem;
    }


    .caterpillar__content__author-background {
        padding-bottom: 6rem;
    }

    .caterpillar__content__author {
        margin: 1rem var(--default-margin) 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caterpillar__content__author__container_image {
        margin-top: 5rem;
        width: 100%;
        height: 100%;
        border-radius: 10%;

        display: flex;
        justify-content: center;

    }

    .caterpillar__content__author__container-text {
        font-size: 3rem;
        margin-top: 3rem;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .caterpillar__content__author__text_paragraph {
        font-size: 1.7rem;
    }

    .caterpillar__content_footer {
        height: 20rem;
    }

    .caterpillar__content_footer-text {
        font-size: 1.4rem;
    }
}