* {
    margin: 0;
    padding: 0;
    font-family: "Arial", "serif";
    zoom: 100%;
    line-height:2.5rem;
}

:root {
    --default-padding: 5rem;
    --default-margin: 10%;
}

span{
    font-size: 3.5rem;
}

a{
    all: unset;
}
.mainpage__navbar__list {
    list-style-type: none;
    margin: 0;
    font-size: 1.5rem;
    font-weight: lighter;
    overflow: hidden;
    background-color: #7f8e37;
}

.mainpage__navbar__list_item {
    float: right;
}
.merch__discription {
    font-family: "Times New Roman";
    background: #7f8e37;
}

.merch__item__odd {
    font-family: "Times New Roman";
    background: rgb(255, 122, 89) !important;
    width: 45%;
    margin: 2%;
    float: left;
    border-radius: 5rem;
    border: 5px solid;
}

.merch__item__even {
    font-family: "Times New Roman";
    background: rgb(255, 122, 89) !important;
    width: 45%;
    margin: 2%;
    float: right;
    border-radius: 5rem;
    border: 5px solid;
}

merch__container {
    background: #7f8d37;
}

.merch__image {
    width: 45%;
    padding-left: 10%;
    
}

.other__works__top {
    font-family: "Times New Roman";
    float: left;
    background: #7f8e37;
}

.other__works__element__odd {
    font-family: "Times New Roman";
    background: rgb(255, 122, 89) !important;
    width: 45%;
    margin: 2%;
    float: left;
    border-radius: 5rem;
    border: 5px solid;
}

.other__works__element__even {
    font-family: "Times New Roman";
    background: rgb(255, 122, 89) !important;
    width: 45%;
    margin: 2%;
    float: right;
    border-radius: 5rem;
    border: 5px solid;
}

.other__works__img {
    height: 180px;
    padding-left: 10%;
}

.other__works__text {
    padding-left: 10%;
    width: 80%;
}

.merch__text {
    padding-left: 10%;
    width: 80%;
}

.more__works__list {
    padding-left: 20px;
 

}

.other__works__container {
    width: 100%;
    background: #7f8d37;
}

table {
    border: 1px solid;
    width: 80%;
}

th {
    border: 1px solid;
    font-weight: bold;
    padding: 2%;
}

td {
    border: 1px solid;
    padding: 2%;
}
.mainpage__navbar__list_item_link {
    display: block;
    color: white;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    transition-duration: 0.5s;

    &:hover {
        background-color: #515b23;
    }

}

.mainpage__navbar{
    display: block;
}

.mainpage__navbar-mobile{
    display: none;
}

.mobile_nav {
    overflow: hidden;
    background-color: #a1b05d;
    position: relative;
}

.mobile_nav_text{
    margin-left: 4%;
    font-family: "Arial", "sans-serif";
    font-weight: 20;
    font-size: 2rem;

}

#navigation {
    display: none;
}

.mobile_nav a {
    color: white;
    padding: 30px 40px;
    text-decoration: none;
    font-size: 2rem;
    display: block;
}

.mobile_nav a.icon {
    background: #4b6714;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.mobile_nav a:hover {
    background-color: #566417;
    color: white;
}

.active {
    background-color: #7f8e37;
    color: white;
}

.mainpage__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 var(--default-margin);
}

.mainpage__content{
    margin: 0;
}
.mainpage__content__container {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    background-color: #eaf2c1;

}
.mainpage__content__container__background{
    background-color: #eaf2c1;
    display: flex;
    justify-content: space-between;

}

.mainpage__content__container-text {
    justify-content: flex-end;
    font-size: 7rem;
    line-height: 6rem;
    margin-bottom: 3rem;
    font-family: "Times New Roman", "sans-serif";
    color: #7f8d37;
}

.mainpage__content__container-text-image {
    display: flex;
    flex-direction: row;
}

.mainpage__content__container-image {
    /* Add your desired image styles here */
    object-fit: cover;
}

.mainpage__content__container-button {
    padding: 1rem;
    border-radius: 1rem;
    width:18rem;

    background: #e9f2c2;
    color: #7f8d37;
    border: 3px solid #7f8d37;
    font-size: 2rem;
    font-weight: bold;
    transition-duration: 0.4s;
}

.mainpage__content__container-button:hover {
    background-color: #7f8d37;
    color: white;
}

.mainpage__content__container-button_link{
    text-decoration: none;
    font-family: "Trebuchet MS", "sans-serif";
}
.mainpage__content__header {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 var(--default-margin) 3rem;
    padding-top: 3rem;
}

.mainpage__content__text_paragraph {
    margin-top:2rem;
    font-weight:normal;
    font-size: 1.7rem;
    color: black;
    background: white;
}

.mainpage__content__header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.mainpage__content__header__container_image{
    margin-left: 3rem;
    width:40%;
}

.mainpage__content__illustration {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.mainpage__content__news-block {
    margin: 0 0 4rem;
}

.mainpage__content__news-block {
    height: 70rem;
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainpage__content__links-event {
    margin: 3rem 0 3rem;

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
}

img.mainpage__content__links-event-author:hover{
    transition-duration: 0.8s;
    filter: brightness(140%);
    cursor:pointer;
}

img.mainpage__content__links-event-book:hover{
    transition-duration: 0.8s;
    filter: brightness(140%);
    cursor:pointer;
}

img.mainpage__content__links-event-friends:hover{
    transition-duration: 0.8s;
    filter: brightness(140%);
    cursor:pointer;
}

.mainpage__content__links-one {
    width: 30rem;
    height: 25em;
    background: #7f8e37;
}

.mainpage__content__links-two {
    width: 30rem;
    height: 25rem;
    background: #7f8e37;
}

.mainpage__content__links-three {
    width: 30rem;
    height: 25rem;
    background: #7f8e37;
}

.mainpage__content__store-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.merchandise__content__store-image-link{
    display: flex;
    justify-content: center;
}
.mainpage__content__store-image {
    width: 80%;
    object-fit: cover;
    display:flex;
    filter:saturate(0.4);

    &:hover{
        transition-duration: 0.7s;
        filter:saturate(1);
        cursor:pointer;
    }
}

.mainpage__content__store-link_text {
    position: absolute;
    justify-content: flex-start;

    color: white; /* Change the color as needed */
}

.mainpage__content__store-link_text {
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
}

.mainpage__content__info {
    margin: 5rem 0 9rem;
    width: 100%;
    padding: 5rem 0;
    background: #4567aa;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainpage__content__info-text {
    font-size: 1.6rem;
    margin: 0 var(--default-margin);
    color: white;
}
.mainpage__content_news {
    margin: 2rem 10% 9rem;
    gap: 3rem;

    display: flex;
    align-content: center;
    justify-content: center;
}

.mainpage__content_news-one img{
    object-fit: cover;
    border-radius: 5rem;
}

img.mainpage__content_news-one:hover {
   transition-duration: 0.5s;
   filter: brightness(50%);
    cursor:pointer;
}


img.mainpage__content_news-two:hover {
    transition-duration: 0.5s;
    filter: brightness(50%);
    cursor:pointer;
}

.mainpage__content_news-three-text {
    font-size: 1.7rem;
    margin-right: 10%;
}

.mainpage__content__author-background {
    background: #1e7088;
    padding: 3rem;
}

.mainpage__content__author {
    margin: 0 var(--default-margin) 0;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.mainpage__content__author__container-text {
    margin: 0 auto;
    margin-top:2rem;
    font-size:1.5rem;
}

.mainpage__content__author__text {
    font-size: 1.4rem;

    display: flex;
    align-self: center;
    justify-content: center;
}

.mainpage__content_footer {
    margin-top: 10rem;
    width: 100%;
    height: 20rem;
    background: #8e3747;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainpage__content_footer-text {
    font-size: 2rem;
    color: white;
    margin: 0 var(--default-margin);
}


@media screen and (max-width: 1681px) {
    .mainpage__navbar{
        display: none;
    }

    .mainpage__navbar-mobile{
        display: block;
    }
    .mainpage__navbar__list {
        font-size: 2.7rem;
        padding: 2rem;

        display: flex;
        justify-content: center;
    }

    .mainpage__navbar__list_item_link {
        display: flex;
    }

    .mainpage__content__container_image {
        width: 70rem;
    }


    .mainpage__content__header {
        font-size: 2.3rem;
    }

    .mainpage__content__header__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainpage__content__header__container_image{
        margin-top: 3rem;
    }
    .mainpage__content__container-text{
        margin-bottom: 2rem;
    }

    .mainpage__content__links-one {
        width: 35rem;
        height: 25rem;
        background: #7f8e37;
    }

    .mainpage__content__links-two {
        width: 35rem;
        height: 25rem;
        background: #7f8e37;
    }

    .mainpage__content__links-three {
        width: 35rem;
        height: 25rem;
        background: #7f8e37;
    }


    .mainpage__content__links-event {
        margin-bottom: 2rem;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .mainpage__content__info-text {
        font-size: 2rem;
        margin: 0 5rem;
    }

    .mainpage__content__store-link {
        padding: 3rem 0;
        border-radius: 2rem;

        display: flex;
        justify-content: flex-end;
        align-self: center;
    }

    .mainpage__content__store-link_text {
        margin-right: 4rem;
        font-size: 2.6rem;
    }


    .mainpage__content_news {
        /*margin: 2rem 0 9rem;*/

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

    }

    .mainpage__content_news-one {
        object-fit: cover;
    }

    .mainpage__content_news-two {
        object-fit: cover;
    }

    .mainpage__content_news-three-text {
        font-size: 1.7rem;
        margin: 0 10%;
    }

    .mainpage__content__author-background {
        padding-bottom: 6rem;
    }

    .mainpage__content__author {
        margin: 1rem var(--default-margin) 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainpage__content__author__container_image {
        margin: 2rem auto;
        width:60%;
        height: 100%;
        border-radius: 10%;

        display: flex;
        justify-content: center;

    }

    .mainpage__content__author__container-text {
        font-size: 3rem;
        margin-top: 3rem;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .mainpage__content__author__text_paragraph {
        font-size: 1.7rem;
    }

    .mainpage__content_footer {
        height: 20rem;
    }

    .mainpage__content_footer-text {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1024px){
    .mainpage__content__header{
        font-size: 1.8rem;
    }
    .mainpage__content__text_paragraph{
        font-size: 1.5rem;
    }
    .mainpage__content__info-text{
        font-size: 1.5rem;
    }
    .mainpage__content_news-three-text{
        font-size: 1.5rem;
    }
    .mainpage__content__author__text_paragraph{
        font-size: 1.4rem;
    }
    
    .merchItemLeft{
        width: 90%;
    }

.merchItemRight {
    width: 90%;
    background: #7f8e37;
}

.otherWorksElementOdd {
    width: 90%;
}

.otherWorksElementEven {
    width: 90%;
    background: #7f8e37;
}


    
}

@media screen and (max-width: 1681px){
    .mainpage__content__container{
        padding: 7rem;
    }
    .mainpage__content__header{
        font-size: 1.4rem;
    }
    .mainpage__content__header__container_image{
        width:60%;
    }
    .mainpage__content__text_paragraph{
        font-size: 1.3rem;
    }
    .mainpage__content__info-text{
        font-size: 1.3rem;
    }
    .mainpage__content_news-three-text{
        font-size: 1.3rem;
    }
    .mainpage__content__author__text_paragraph{
        font-size: 1.4rem;
    }
}


@media screen and (max-width: 2030px){
    .mainpage__content__header{
        font-size: 1.7rem;
    }
    .mainpage__content__text_paragraph{
        font-size:1.5rem;
    }

    
}

